<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div class="top-5">
	<ul>
	<% items.forEach( (item) => { %>
	    <li>
		<img class="pro-pic" src="<%= item.images[0].url %>" alt="album art">
	        <h3><%= item.name %></h3>	
	<% }); %>
	    </li>
	</ul>
	</div>
</body>
</html>
